In [1]:
import pandas as pd

In [204]:
df = pd.read_csv(r"C:\Users\Jurgen\Desktop\FYP\News\NLP Scripts\TextblobSentiment.csv")
df = df.drop(columns = "Unnamed: 0")
df["Date"] = pd.to_datetime(df["Date"]).dt.date
df = df.set_index("Date").sort_values(by='Date', ascending=True)
df

,Section,Title,URL,Text,Senti
Date,,,,,
2018-07-03,Technology,"Samsung phones sent photos to random contacts,...",https://www.theguardian.com/technology/2018/ju...,Samsung is investigating reports that its defa...,-0.013258
2018-07-13,UK news,Man who called for attack on Prince George jai...,https://www.theguardian.com/uk-news/2018/jul/1...,An Islamic State supporter who called for an a...,0.070484
2018-07-19,Technology,Cracking news: improved smartphone glass twice...,https://www.theguardian.com/technology/2018/ju...,Glass-maker Corning has unveiled a new version...,0.033616
2018-07-23,Life and style,Fluffed it! The truth about Build-A-Bear's day...,https://www.theguardian.com/lifeandstyle/2018/...,Thursday 12 July should have been a red-letter...,0.123651
2018-07-28,Money,"Why spend £1,000 on a smartphone when you coul...",https://www.theguardian.com/money/2018/jul/28/...,How do you find the best-value smartphone deal...,0.323089
...,...,...,...,...,...
2019-10-28,Technology,AirPods Pro: Apple launches noise-cancelling e...,https://www.theguardian.com/technology/2019/oc...,Apple has launched a new set of its popular tr...,0.107508
2019-10-29,Technology,Google Pixel 4 XL review: not quite ready for ...,https://www.theguardian.com/technology/2019/oc...,Google’s latest Pixel 4 XL smartphone is its b...,0.182226
2019-10-29,Technology,Labour calls for halt to Google's acquisition ...,https://www.theguardian.com/technology/2019/oc...,Labour has written to the competition regulato...,0.097556
2019-10-31,Cities,Hex in the city: which terrifying town hits Ha...,https://www.theguardian.com/cities/2019/oct/31...,"On a dark, dark night, in a dark, dark town, o...",0.057489
2019-10-31,Technology,Google Pixel 4 review: a good phone ruined by ...,https://www.theguardian.com/technology/2019/oc...,"Brilliant camera, slick features and small siz...",0.156981

In [3]:
# Polarity = []
# for sentiment in df.Senti:
#     if sentiment > 0:
#         Polarity.append(1)
#     elif sentiment < 0:
#         Polarity.append(-1)
# GeneralSenti = pd.DataFrame(Polarity, columns = ["General_Sentiment"])
# df = pd.concat([df, GeneralSenti], axis = 1)

In [205]:
Senti_Per_Day = df.groupby('Date').Senti.sum()

In [206]:
avg = Senti_Per_Day.sum()/len(Senti_Per_Day)

In [207]:
import datetime
start_date = datetime.date(2018, 7, 1)
end_date = datetime.date(2019, 10, 31)
mydates = pd.date_range(start_date, end_date).tolist()
dates = pd.DataFrame(mydates, columns = ["Date"])
dates["Date"] = dates["Date"].dt.date
# dates["Senti"] = 0
dates.set_index("Date").sort_values(by='Date', ascending=True)

Empty DataFrame
Columns: []
Index: [2018-07-01, 2018-07-02, 2018-07-03, 2018-07-04, 2018-07-05, 2018-07-06, 2018-07-07, 2018-07-08, 2018-07-09, 2018-07-10, 2018-07-11, 2018-07-12, 2018-07-13, 2018-07-14, 2018-07-15, 2018-07-16, 2018-07-17, 2018-07-18, 2018-07-19, 2018-07-20, 2018-07-21, 2018-07-22, 2018-07-23, 2018-07-24, 2018-07-25, 2018-07-26, 2018-07-27, 2018-07-28, 2018-07-29, 2018-07-30, 2018-07-31, 2018-08-01, 2018-08-02, 2018-08-03, 2018-08-04, 2018-08-05, 2018-08-06, 2018-08-07, 2018-08-08, 2018-08-09, 2018-08-10, 2018-08-11, 2018-08-12, 2018-08-13, 2018-08-14, 2018-08-15, 2018-08-16, 2018-08-17, 2018-08-18, 2018-08-19, 2018-08-20, 2018-08-21, 2018-08-22, 2018-08-23, 2018-08-24, 2018-08-25, 2018-08-26, 2018-08-27, 2018-08-28, 2018-08-29, 2018-08-30, 2018-08-31, 2018-09-01, 2018-09-02, 2018-09-03, 2018-09-04, 2018-09-05, 2018-09-06, 2018-09-07, 2018-09-08, 2018-09-09, 2018-09-10, 2018-09-11, 2018-09-12, 2018-09-13, 2018-09-14, 2018-09-15, 2018-09-16, 2018-09-17, 2018-09-18, 2018-09-19, 2018-09-20, 2018-09-21, 2018-09-22, 2018-09-23, 2018-09-24, 2018-09-25, 2018-09-26, 2018-09-27, 2018-09-28, 2018-09-29, 2018-09-30, 2018-10-01, 2018-10-02, 2018-10-03, 2018-10-04, 2018-10-05, 2018-10-06, 2018-10-07, 2018-10-08, ...]

[488 rows x 0 columns]

In [248]:
Senti_Running_Dates = dates.join(Senti_Per_Day, on = "Date")
Senti_Running_Dates = Senti_Running_Dates.fillna(avg)
# Senti_Running_Dates.to_csv(r"C:\Users\Jurgen\Desktop\FYP\News\SK-Learn\SentimentPerDay.csv")

In [251]:
Senti_Running_Dates = Senti_Running_Dates.rename(columns = {"Senti" : "News_Senti"}).set_index("Date").sort_values(by='Date', ascending=True)

In [252]:
Senti_Running_Dates

            News_Senti
Date
2018-07-01    0.149426
2018-07-02    0.149426
2018-07-03   -0.013258
2018-07-04    0.149426
2018-07-05    0.149426
...                ...
2019-10-27    0.149426
2019-10-28    0.107508
2019-10-29    0.279782
2019-10-30    0.149426
2019-10-31    0.214470

[488 rows x 1 columns]

In [253]:
Stock_Diff = pd.read_csv(r"C:\Users\Jurgen\Desktop\FYP\Stock\StockDifference.csv")

Stock_Diff["Date"] = pd.to_datetime(Stock_Diff["Date"]).dt.date
Stock_Diff = Stock_Diff.set_index("Date")

In [254]:
Stock_Diff

            Close_USD  Stock_Difference
Date
2018-07-02  40.660223          0.007702
2018-07-03  41.472320          0.812097
2018-07-04  41.380457         -0.091864
2018-07-05  41.099746         -0.280711
2018-07-06  40.155585         -0.944160
...               ...               ...
2019-10-25  43.325872          0.103882
2019-10-28  43.848824          0.522953
2019-10-29  43.751215         -0.097609
2019-10-30  43.149714         -0.601502
2019-10-31  43.147943         -0.001771

[323 rows x 2 columns]

In [255]:
News_Stock = Senti_Running_Dates.join(Stock_Diff, lsuffix='Date', rsuffix='Date', on = "Date")

In [257]:
News_Stock.to_csv("News_Stock_Data.csv")

In [277]:
Twitter_Senti = pd.read_csv(r"C:\Users\Jurgen\Desktop\FYP\Shared\TwitterSentimentPerDay.csv")
Twitter_Senti["Date"] = pd.to_datetime(Twitter_Senti["Date"], format =  "%d/%m/%Y").dt.date
Twitter_Senti = Twitter_Senti.set_index("Date")
Twitter_Senti = Twitter_Senti.rename(columns = {"compound" : "Twitter_Senti"}) 
Twitter_Senti

            Twitter_Senti
Date
2018-07-01       0.354322
2018-07-02       0.354322
2018-07-03       0.354322
2018-07-04       0.354322
2018-07-05       0.354322
...                   ...
2019-10-27       0.636900
2019-10-28       0.636900
2019-10-29       0.672900
2019-10-30       0.935700
2019-10-31       0.354322

[488 rows x 1 columns]

In [278]:
News_Twitter_Stock = News_Stock.join(Twitter_Senti, lsuffix='Date', rsuffix='Date', on = "Date")

In [388]:
News_Twitter_Stock.to_csv(r"C:\Users\Jurgen\Desktop\FYP\Shared\News_Twitter_Stock_Data.csv")

C:\Users\Jurgen\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [389]:
News_Twitter_Stock

Date
2018-07-01    0.000000
2018-07-02    0.007702
2018-07-03    0.812097
2018-07-04   -0.091864
2018-07-05   -0.280711
                ...
2019-10-27    0.103882
2019-10-28    0.522953
2019-10-29   -0.097609
2019-10-30   -0.601502
2019-10-31   -0.001771
Name: Stock_Difference, Length: 488, dtype: float64

In [366]:
PH = []
for i in range(len(News_Twitter_Stock.Stock_Difference)):
    if pd.isna(News_Twitter_Stock.Stock_Difference.values[i]) == True and News_Twitter_Stock.index[i].weekday() != 5 and News_Twitter_Stock.index[i].weekday() != 6:
        PH.append((News_Twitter_Stock.index[i], News_Twitter_Stock.index[i].weekday()))

In [387]:
News_Twitter_Stock.Stock_Difference = News_Twitter_Stock.Stock_Difference.fillna(0)