In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\Jurgen\Desktop\FYP\News\NLP Scripts\TextblobSentiment.csv")
df = df.drop(columns = "Unnamed: 0")
df["Date"] = pd.to_datetime(df["Date"]).dt.date
df = df.set_index("Date").sort_values(by='Date', ascending=True)
df.Senti

Date
2018-07-03   -0.013258
2018-07-13    0.070484
2018-07-19    0.033616
2018-07-23    0.123651
2018-07-28    0.323089
                ...
2019-10-28    0.107508
2019-10-29    0.182226
2019-10-29    0.097556
2019-10-31    0.057489
2019-10-31    0.156981
Name: Senti, Length: 201, dtype: float64

In [ ]:
# Polarity = []
# for sentiment in df.Senti:
#     if sentiment > 0:
#         Polarity.append(1)
#     elif sentiment < 0:
#         Polarity.append(-1)
# GeneralSenti = pd.DataFrame(Polarity, columns = ["General_Sentiment"])
# df = pd.concat([df, GeneralSenti], axis = 1)

In [4]:
Senti_Per_Day = df.groupby('Date').Senti.mean()

In [5]:
Senti_Per_Day

Date
2018-07-03   -0.013258
2018-07-13    0.070484
2018-07-19    0.033616
2018-07-23    0.123651
2018-07-28    0.323089
                ...
2019-10-23    0.202612
2019-10-24    0.112101
2019-10-28    0.107508
2019-10-29    0.139891
2019-10-31    0.107235
Name: Senti, Length: 157, dtype: float64

In [6]:
import datetime
start_date = datetime.date(2018, 7, 1)
end_date = datetime.date(2019, 10, 31)
mydates = pd.date_range(start_date, end_date).tolist()
dates = pd.DataFrame(mydates, columns = ["Date"])
dates["Date"] = dates["Date"].dt.date
# dates["Senti"] = 0
dates.set_index("Date").sort_values(by='Date', ascending=True)

Empty DataFrame
Columns: []
Index: [2018-07-01, 2018-07-02, 2018-07-03, 2018-07-04, 2018-07-05, 2018-07-06, 2018-07-07, 2018-07-08, 2018-07-09, 2018-07-10, 2018-07-11, 2018-07-12, 2018-07-13, 2018-07-14, 2018-07-15, 2018-07-16, 2018-07-17, 2018-07-18, 2018-07-19, 2018-07-20, 2018-07-21, 2018-07-22, 2018-07-23, 2018-07-24, 2018-07-25, 2018-07-26, 2018-07-27, 2018-07-28, 2018-07-29, 2018-07-30, 2018-07-31, 2018-08-01, 2018-08-02, 2018-08-03, 2018-08-04, 2018-08-05, 2018-08-06, 2018-08-07, 2018-08-08, 2018-08-09, 2018-08-10, 2018-08-11, 2018-08-12, 2018-08-13, 2018-08-14, 2018-08-15, 2018-08-16, 2018-08-17, 2018-08-18, 2018-08-19, 2018-08-20, 2018-08-21, 2018-08-22, 2018-08-23, 2018-08-24, 2018-08-25, 2018-08-26, 2018-08-27, 2018-08-28, 2018-08-29, 2018-08-30, 2018-08-31, 2018-09-01, 2018-09-02, 2018-09-03, 2018-09-04, 2018-09-05, 2018-09-06, 2018-09-07, 2018-09-08, 2018-09-09, 2018-09-10, 2018-09-11, 2018-09-12, 2018-09-13, 2018-09-14, 2018-09-15, 2018-09-16, 2018-09-17, 2018-09-18, 2018-09-19, 2018-09-20, 2018-09-21, 2018-09-22, 2018-09-23, 2018-09-24, 2018-09-25, 2018-09-26, 2018-09-27, 2018-09-28, 2018-09-29, 2018-09-30, 2018-10-01, 2018-10-02, 2018-10-03, 2018-10-04, 2018-10-05, 2018-10-06, 2018-10-07, 2018-10-08, ...]

[488 rows x 0 columns]

In [7]:
Senti_Running_Dates = dates.join(Senti_Per_Day, on = "Date")
# Senti_Running_Dates = Senti_Running_Dates.fillna(avg)
# Senti_Running_Dates.to_csv(r"C:\Users\Jurgen\Desktop\FYP\News\SK-Learn\SentimentPerDay.csv")

In [8]:
Senti_Running_Dates = Senti_Running_Dates.rename(columns = {"Senti" : "News_Senti"}).set_index("Date").sort_values(by='Date', ascending=True)

In [9]:
Senti_Running_Dates

            News_Senti
Date
2018-07-01         NaN
2018-07-02         NaN
2018-07-03   -0.013258
2018-07-04         NaN
2018-07-05         NaN
...                ...
2019-10-27         NaN
2019-10-28    0.107508
2019-10-29    0.139891
2019-10-30         NaN
2019-10-31    0.107235

[488 rows x 1 columns]

In [38]:
Stock_Details = pd.read_csv(r"C:\Users\Jurgen\Desktop\FYP\Stock\2018-05-05.2019-05-05.AAPL.csv")
Stock_Details = Stock_Details.drop(columns = ["Unnamed: 0", "open", "high", "low", "close", "adj_close"]).rename(columns = {"volume" : "Volume", "date" : "Date"})

Stock_Details["Date"] = pd.to_datetime(Stock_Details["Date"]).dt.date
Stock_Details = Stock_Details.set_index("Date")
Stock_Details

,Volume,Stockname,Open_USD,High_USD,Low_USD,Close_USD,Adj_Close_USD
Date,,,,,,,
2018-05-04,56201300,AAPL,0.165601,0.171176,0.165527,0.170785,0.166444
2018-05-07,42451400,AAPL,0.171107,0.173408,0.170710,0.171089,0.166740
2018-05-08,28402800,AAPL,0.171697,0.172838,0.170472,0.172681,0.168292
2018-05-09,23211200,AAPL,0.173188,0.173977,0.171953,0.173940,0.169519
2018-05-10,27989300,AAPL,0.175486,0.177945,0.175402,0.177636,0.173121
...,...,...,...,...,...,...,...
2019-04-29,22204700,AAPL,0.176125,0.177478,0.175660,0.176306,0.174441
2019-04-30,46534900,AAPL,0.174152,0.174444,0.170764,0.172102,0.170282
2019-05-01,64827300,AAPL,0.180219,0.184882,0.179661,0.180769,0.178857
2019-05-02,31996300,AAPL,0.180403,0.182819,0.178933,0.179810,0.177908
2019-05-03,20892400,AAPL,0.180255,0.181067,0.179691,0.180991,0.179076

In [50]:
Stock_Diff = pd.read_csv(r"C:\Users\Jurgen\Desktop\FYP\Stock\StockDifference.csv")
Stock_Diff = Stock_Diff.drop(columns = ["Close_USD"])
Stock_Diff["Date"] = pd.to_datetime(Stock_Diff["Date"]).dt.date
Stock_Diff = Stock_Diff.set_index("Date")
Stock_Diff

            Stock_Difference
Date
2018-07-02          0.007702
2018-07-03          0.812097
2018-07-04         -0.091864
2018-07-05         -0.280711
2018-07-06         -0.944160
...                      ...
2019-10-25          0.103882
2019-10-28          0.522953
2019-10-29         -0.097609
2019-10-30         -0.601502
2019-10-31         -0.001771

[323 rows x 1 columns]

In [51]:
News_Stock = Senti_Running_Dates.join(Stock_Details, lsuffix='Date', rsuffix='Date', on = "Date")
News_Stock = News_Stock.join(Stock_Diff, lsuffix='Date', rsuffix='Date', on = "Date")

News_Stock

,News_Senti,Volume,Stockname,Open_USD,High_USD,Low_USD,Close_USD,Adj_Close_USD,Stock_Difference
Date,,,,,,,,,
2018-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-07-02,NaN,17731300.0,AAPL,0.164087,0.167193,0.163730,0.167086,0.163467,0.007702
2018-07-03,-0.013258,13954800.0,AAPL,0.168756,0.168900,0.164937,0.165278,0.161698,0.812097
2018-07-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.091864
2018-07-05,NaN,16604200.0,AAPL,0.165705,0.166733,0.164828,0.165830,0.162238,-0.280711
...,...,...,...,...,...,...,...,...,...
2019-10-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-10-28,0.107508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.522953
2019-10-29,0.139891,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.097609
2019-10-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.601502
2019-10-31,0.107235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.001771

In [23]:
News_Stock.to_csv("News_Stock_Data.csv")

In [52]:
Twitter_Senti = pd.read_csv(r"C:\Users\Jurgen\Desktop\FYP\Shared\TwitterSentimentPerDay.csv")
Twitter_Senti["Date"] = pd.to_datetime(Twitter_Senti["Date"], format =  "%d/%m/%Y").dt.date
Twitter_Senti = Twitter_Senti.set_index("Date")
Twitter_Senti = Twitter_Senti.rename(columns = {"compound" : "Twitter_Senti"}) 
Twitter_Senti

            Twitter_Senti
Date
2018-07-01       0.354322
2018-07-02       0.354322
2018-07-03       0.354322
2018-07-04       0.354322
2018-07-05       0.354322
...                   ...
2019-10-27       0.636900
2019-10-28       0.636900
2019-10-29       0.672900
2019-10-30       0.935700
2019-10-31       0.354322

[488 rows x 1 columns]

In [53]:
News_Twitter_Stock = News_Stock.join(Twitter_Senti, lsuffix='Date', rsuffix='Date', on = "Date")

In [54]:
News_Twitter_Stock

,News_Senti,Volume,Stockname,Open_USD,High_USD,Low_USD,Close_USD,Adj_Close_USD,Stock_Difference,Twitter_Senti
Date,,,,,,,,,,
2018-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.354322
2018-07-02,NaN,17731300.0,AAPL,0.164087,0.167193,0.163730,0.167086,0.163467,0.007702,0.354322
2018-07-03,-0.013258,13954800.0,AAPL,0.168756,0.168900,0.164937,0.165278,0.161698,0.812097,0.354322
2018-07-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.091864,0.354322
2018-07-05,NaN,16604200.0,AAPL,0.165705,0.166733,0.164828,0.165830,0.162238,-0.280711,0.354322
...,...,...,...,...,...,...,...,...,...,...
2019-10-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.636900
2019-10-28,0.107508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.522953,0.636900
2019-10-29,0.139891,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.097609,0.672900
2019-10-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.601502,0.935700
2019-10-31,0.107235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.001771,0.354322

In [55]:
News_Twitter_Stock.to_csv(r"C:\Users\Jurgen\Desktop\FYP\Shared\News_Twitter_Stock_NaN.csv")

In [ ]:
PH = []
for i in range(len(News_Twitter_Stock.Stock_Difference)):
    if pd.isna(News_Twitter_Stock.Stock_Difference.values[i]) == True and News_Twitter_Stock.index[i].weekday() != 5 and News_Twitter_Stock.index[i].weekday() != 6:
        PH.append((News_Twitter_Stock.index[i], News_Twitter_Stock.index[i].weekday()))

In [ ]:
News_Twitter_Stock.Stock_Difference = News_Twitter_Stock.Stock_Difference.fillna(0)