In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\Jurgen\Desktop\FYP\News\NLP Scripts\TextblobSentiment.csv")
df = df.drop(columns = "Unnamed: 0")
df["Date"] = pd.to_datetime(df["Date"]).dt.date
df = df.set_index("Date").sort_values(by='Date', ascending=True)
df.Senti

Date
2018-07-03   -0.013258
2018-07-13    0.070484
2018-07-19    0.033616
2018-07-23    0.123651
2018-07-28    0.323089
                ...
2019-10-28    0.107508
2019-10-29    0.182226
2019-10-29    0.097556
2019-10-31    0.057489
2019-10-31    0.156981
Name: Senti, Length: 201, dtype: float64

In [ ]:
# Polarity = []
# for sentiment in df.Senti:
#     if sentiment > 0:
#         Polarity.append(1)
#     elif sentiment < 0:
#         Polarity.append(-1)
# GeneralSenti = pd.DataFrame(Polarity, columns = ["General_Sentiment"])
# df = pd.concat([df, GeneralSenti], axis = 1)

In [4]:
Senti_Per_Day = df.groupby('Date').Senti.mean()

In [5]:
Senti_Per_Day

Date
2018-07-03   -0.013258
2018-07-13    0.070484
2018-07-19    0.033616
2018-07-23    0.123651
2018-07-28    0.323089
                ...
2019-10-23    0.202612
2019-10-24    0.112101
2019-10-28    0.107508
2019-10-29    0.139891
2019-10-31    0.107235
Name: Senti, Length: 157, dtype: float64

In [6]:
import datetime
start_date = datetime.date(2018, 7, 1)
end_date = datetime.date(2019, 10, 31)
mydates = pd.date_range(start_date, end_date).tolist()
dates = pd.DataFrame(mydates, columns = ["Date"])
dates["Date"] = dates["Date"].dt.date
# dates["Senti"] = 0
dates.set_index("Date").sort_values(by='Date', ascending=True)

Empty DataFrame
Columns: []
Index: [2018-07-01, 2018-07-02, 2018-07-03, 2018-07-04, 2018-07-05, 2018-07-06, 2018-07-07, 2018-07-08, 2018-07-09, 2018-07-10, 2018-07-11, 2018-07-12, 2018-07-13, 2018-07-14, 2018-07-15, 2018-07-16, 2018-07-17, 2018-07-18, 2018-07-19, 2018-07-20, 2018-07-21, 2018-07-22, 2018-07-23, 2018-07-24, 2018-07-25, 2018-07-26, 2018-07-27, 2018-07-28, 2018-07-29, 2018-07-30, 2018-07-31, 2018-08-01, 2018-08-02, 2018-08-03, 2018-08-04, 2018-08-05, 2018-08-06, 2018-08-07, 2018-08-08, 2018-08-09, 2018-08-10, 2018-08-11, 2018-08-12, 2018-08-13, 2018-08-14, 2018-08-15, 2018-08-16, 2018-08-17, 2018-08-18, 2018-08-19, 2018-08-20, 2018-08-21, 2018-08-22, 2018-08-23, 2018-08-24, 2018-08-25, 2018-08-26, 2018-08-27, 2018-08-28, 2018-08-29, 2018-08-30, 2018-08-31, 2018-09-01, 2018-09-02, 2018-09-03, 2018-09-04, 2018-09-05, 2018-09-06, 2018-09-07, 2018-09-08, 2018-09-09, 2018-09-10, 2018-09-11, 2018-09-12, 2018-09-13, 2018-09-14, 2018-09-15, 2018-09-16, 2018-09-17, 2018-09-18, 2018-09-19, 2018-09-20, 2018-09-21, 2018-09-22, 2018-09-23, 2018-09-24, 2018-09-25, 2018-09-26, 2018-09-27, 2018-09-28, 2018-09-29, 2018-09-30, 2018-10-01, 2018-10-02, 2018-10-03, 2018-10-04, 2018-10-05, 2018-10-06, 2018-10-07, 2018-10-08, ...]

[488 rows x 0 columns]

In [7]:
Senti_Running_Dates = dates.join(Senti_Per_Day, on = "Date")
# Senti_Running_Dates = Senti_Running_Dates.fillna(avg)
# Senti_Running_Dates.to_csv(r"C:\Users\Jurgen\Desktop\FYP\News\SK-Learn\SentimentPerDay.csv")

In [8]:
Senti_Running_Dates = Senti_Running_Dates.rename(columns = {"Senti" : "News_Senti"}).set_index("Date").sort_values(by='Date', ascending=True)

In [9]:
Senti_Running_Dates

            News_Senti
Date
2018-07-01         NaN
2018-07-02         NaN
2018-07-03   -0.013258
2018-07-04         NaN
2018-07-05         NaN
...                ...
2019-10-27         NaN
2019-10-28    0.107508
2019-10-29    0.139891
2019-10-30         NaN
2019-10-31    0.107235

[488 rows x 1 columns]

In [64]:
Stock_Details = pd.read_csv(r"C:\Users\Jurgen\Desktop\FYP\Stock\2018-07-01.2019-10-31.005930.ks.csv")
Stock_Details = Stock_Details.drop(columns = ["open", "high", "low", "close", "adj_close"]).rename(columns = {"volume" : "Volume", "date" : "Date"})

Stock_Details["Date"] = pd.to_datetime(Stock_Details["Date"], format = "%d/%m/%Y" ).dt.date
Stock_Details = Stock_Details.set_index("Date")
Stock_Details

,Volume,Stockname,Open_USD,High_USD,Low_USD,Close_USD,Adj_Close_USD
Date,,,,,,,
2018-07-02,13112253,005930.ks,41.508241,42.088464,40.615591,40.660223,39.984037
2018-07-03,10959655,005930.ks,41.112864,41.741913,41.112864,41.472320,40.782627
2018-07-04,8776763,005930.ks,41.783077,42.096227,41.201514,41.380457,40.692290
2018-07-05,7039773,005930.ks,41.233912,41.636413,40.786690,41.099746,40.416246
2018-07-06,17843706,005930.ks,40.692186,41.005202,39.932002,40.155585,39.487791
...,...,...,...,...,...,...,...
2019-10-25,7879897,005930.ks,43.240752,43.581230,42.985393,43.325872,43.325872
2019-10-28,6431522,005930.ks,43.335973,44.019775,43.335973,43.848824,43.848824
2019-10-29,7581629,005930.ks,44.008072,44.264928,43.494359,43.751215,43.751215
2019-10-30,8959435,005930.ks,43.406557,43.492172,42.978485,43.149714,43.149714
2019-10-31,10304777,005930.ks,43.661609,44.004053,43.062332,43.147943,43.147943

In [50]:
Stock_Diff = pd.read_csv(r"C:\Users\Jurgen\Desktop\FYP\Stock\StockDifference.csv")
Stock_Diff = Stock_Diff.drop(columns = ["Close_USD"])
Stock_Diff["Date"] = pd.to_datetime(Stock_Diff["Date"]).dt.date
Stock_Diff = Stock_Diff.set_index("Date")
Stock_Diff

            Stock_Difference
Date
2018-07-02          0.007702
2018-07-03          0.812097
2018-07-04         -0.091864
2018-07-05         -0.280711
2018-07-06         -0.944160
...                      ...
2019-10-25          0.103882
2019-10-28          0.522953
2019-10-29         -0.097609
2019-10-30         -0.601502
2019-10-31         -0.001771

[323 rows x 1 columns]

In [65]:
News_Stock = Senti_Running_Dates.join(Stock_Details, lsuffix='Date', rsuffix='Date', on = "Date")

News_Stock

,News_Senti,Volume,Stockname,Open_USD,High_USD,Low_USD,Close_USD,Adj_Close_USD
Date,,,,,,,,
2018-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-07-02,NaN,13112253.0,005930.ks,41.508241,42.088464,40.615591,40.660223,39.984037
2018-07-03,-0.013258,10959655.0,005930.ks,41.112864,41.741913,41.112864,41.472320,40.782627
2018-07-04,NaN,8776763.0,005930.ks,41.783077,42.096227,41.201514,41.380457,40.692290
2018-07-05,NaN,7039773.0,005930.ks,41.233912,41.636413,40.786690,41.099746,40.416246
...,...,...,...,...,...,...,...,...
2019-10-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-10-28,0.107508,6431522.0,005930.ks,43.335973,44.019775,43.335973,43.848824,43.848824
2019-10-29,0.139891,7581629.0,005930.ks,44.008072,44.264928,43.494359,43.751215,43.751215
2019-10-30,NaN,8959435.0,005930.ks,43.406557,43.492172,42.978485,43.149714,43.149714
2019-10-31,0.107235,10304777.0,005930.ks,43.661609,44.004053,43.062332,43.147943,43.147943

In [23]:
News_Stock.to_csv("News_Stock_Data.csv")

In [66]:
Twitter_Senti = pd.read_csv(r"C:\Users\Jurgen\Desktop\FYP\Shared\TwitterSentimentPerDay.csv")
Twitter_Senti["Date"] = pd.to_datetime(Twitter_Senti["Date"], format =  "%d/%m/%Y").dt.date
Twitter_Senti = Twitter_Senti.set_index("Date")
Twitter_Senti = Twitter_Senti.rename(columns = {"compound" : "Twitter_Senti"}) 
Twitter_Senti

            Twitter_Senti
Date
2018-07-01       0.354322
2018-07-02       0.354322
2018-07-03       0.354322
2018-07-04       0.354322
2018-07-05       0.354322
...                   ...
2019-10-27       0.636900
2019-10-28       0.636900
2019-10-29       0.672900
2019-10-30       0.935700
2019-10-31       0.354322

[488 rows x 1 columns]

In [67]:
News_Twitter_Stock = News_Stock.join(Twitter_Senti, lsuffix='Date', rsuffix='Date', on = "Date")

In [68]:
News_Twitter_Stock

,News_Senti,Volume,Stockname,Open_USD,High_USD,Low_USD,Close_USD,Adj_Close_USD,Twitter_Senti
Date,,,,,,,,,
2018-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.354322
2018-07-02,NaN,13112253.0,005930.ks,41.508241,42.088464,40.615591,40.660223,39.984037,0.354322
2018-07-03,-0.013258,10959655.0,005930.ks,41.112864,41.741913,41.112864,41.472320,40.782627,0.354322
2018-07-04,NaN,8776763.0,005930.ks,41.783077,42.096227,41.201514,41.380457,40.692290,0.354322
2018-07-05,NaN,7039773.0,005930.ks,41.233912,41.636413,40.786690,41.099746,40.416246,0.354322
...,...,...,...,...,...,...,...,...,...
2019-10-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.636900
2019-10-28,0.107508,6431522.0,005930.ks,43.335973,44.019775,43.335973,43.848824,43.848824,0.636900
2019-10-29,0.139891,7581629.0,005930.ks,44.008072,44.264928,43.494359,43.751215,43.751215,0.672900
2019-10-30,NaN,8959435.0,005930.ks,43.406557,43.492172,42.978485,43.149714,43.149714,0.935700
2019-10-31,0.107235,10304777.0,005930.ks,43.661609,44.004053,43.062332,43.147943,43.147943,0.354322

In [69]:
News_Twitter_Stock.to_csv(r"C:\Users\Jurgen\Desktop\FYP\Shared\News_Twitter_Stock_NaN.csv")

In [ ]:
PH = []
for i in range(len(News_Twitter_Stock.Stock_Difference)):
    if pd.isna(News_Twitter_Stock.Stock_Difference.values[i]) == True and News_Twitter_Stock.index[i].weekday() != 5 and News_Twitter_Stock.index[i].weekday() != 6:
        PH.append((News_Twitter_Stock.index[i], News_Twitter_Stock.index[i].weekday()))

In [ ]:
News_Twitter_Stock.Stock_Difference = News_Twitter_Stock.Stock_Difference.fillna(0)